{% extends 'base.html' %}

{% block body %}

<div class="container">
  <h2>{{ people.username }}</h2>
  
  <p>{{people.last_name}}  {{people.first_name}}</p>
  <p>{{people.profile.nickname}}</p>
  <p>{{people.profile.description}}</p>
  {% if user == people %}
  <a href="{% url 'accounts:update' %}" class="btn btn-info">회원정보 수정</a>
  <a href="{% url 'accounts:password' %}" class="btn btn-info">비밀번호 변경</a>
  <a href="{% url 'accounts:delete' %}" class="btn btn-danger">회원탈퇴 </a>
  {% endif  %}
  <div class="row">
    {% for post in people.post_set.all %}
    
      {% if post.image  %}
      <a href="#">
        <div class="col-4">
          <img src="{{ post.image.url }}" class="img-fluid"></img>
        </div>
      </a>
      {% endif  %}
    {% endfor  %}
  </div>
</div>


{% endblock %}